/* float 속성사용 */

.wrap {
    width: 600px;
    margin: 50px auto;
    border: 5px solid black;
}

.left {
    width: 200px;
    height: 200px;
    background-color: pink;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    float: right;
}
/* 부모의 속성 적용 해제 */
.wrap::after{
    content: '';
    display: block;
    clear: both;
}
